version: "3.7"
services:
  creator:
    build: ./tools/creator
    image: breg-dcat-creator
    ports:
      - 10020:80
  mapping:
    build: ./tools/mapping
    image: breg-dcat-mapping
    ports:
      - 10030:80
    depends_on:
      - mysql
      - virtuoso
  editor:
    build: ./tools/editor
    image: breg-dcat-editor
    ports:
      - 10040:80
    depends_on:
      - mysql
      - virtuoso
    environment:
      VIRTUOSO_SPARQL_ENDPOINT: "http://virtuoso:8890/sparql"
      GRAPHURI: "http://drupal.bregdcat-ap.eu"
  harvester-api:
    build: ./tools/harvester
    image: breg-dcat-harvester
    ports:
      - 10050:5000
    depends_on:
      - redis
      - virtuoso
    environment:
      HARVESTER_LOG_LEVEL: info
      HARVESTER_SPARQL_ENDPOINT: http://virtuoso:8890/sparql
      HARVESTER_SPARQL_UPDATE_ENDPOINT: http://virtuoso:8890/sparql-auth
      HARVESTER_GRAPH_URI: http://breg-dcat-editor.pilot
      HARVESTER_SPARQL_USER: dba
      HARVESTER_SPARQL_PASS: dba
      HARVESTER_SOURCES: ${HARVESTER_SOURCES}
  harvester-worker:
    image: breg-dcat-harvester
    depends_on:
      - harvester-api
      - redis
      - virtuoso
    environment:
      HARVESTER_LOG_LEVEL: info
    command:
      [
        "/usr/local/bin/rq",
        "worker",
        "--with-scheduler",
        "--url",
        "redis://redis",
      ]
  mysql:
    image: mysql:5.7
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - 10060:3306
    volumes:
      - "./tools/mapping/dcat-mapping-database.sql:/docker-entrypoint-initdb.d/mapping.sql"
      - "./tools/editor/dcat-editor-database.sql:/docker-entrypoint-initdb.d/editor.sql"
  virtuoso:
    image: tenforce/virtuoso:virtuoso7.2.4
    environment:
      SPARQL_UPDATE: "true"
      DEFAULT_GRAPH: "http://breg-dcat-editor.pilot"
    ports:
      - 10070:8890
  redis:
    image: redis:5
    ports:
      - 10080:6379
